@media screen and (max-width: 992px) {
  /*NAVBAR*/
  .profile-img {
    display: none;
  }
  .space {
    width: 50px;
  }
  .ly-lich,
  .du-an {
    border-right: 1px solid black;
  }
  .navb-link i {
    display: none;
  }
  .thong-tin::before {
    display: inline-block;
    width: 18px;
    font-family: fontello;
    padding-right: 5px;
    content: "\e82e";
    color: rgb(25, 156, 219);
  }
  .ly-lich::before {
    display: inline-block;
    width: 18px;
    font-family: fontello;
    padding-right: 5px;
    content: "\e891";
    color: rgb(25, 156, 219);
  }
  .chung-chi::before {
    display: inline-block;
    width: 18px;
    font-family: fontello;
    padding-right: 5px;
    content: "\e826";
    color: rgb(25, 156, 219);
  }
  .du-an::before {
    display: inline-block;
    width: 18px;
    font-family: fontello;
    padding-right: 5px;
    content: "\e82a";
    color: rgb(25, 156, 219);
  }
  /*END OF NAVBAR*/
  /*ABOUT*/
  #about .col {
    padding: 8% 4%;
  }
  /*END OF ABOUT*/
  /*CERTIFICATE*/
  #certificate .grid-40-60 {
    display: block;
  }
  .cer-1,
  .cer-3 {
    padding-right: 15px;
    padding-bottom: 30px;
  }

  /*END OF CERTIFICATE*/
  #footer li i {
    padding-right: 5px;
    font-size: 3em;
  }
}
